.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  margin-left: 30px;
  margin-right: 30px;
  width: 150px;
}

.switchButton {
  cursor: pointer;
  margin-top: 0px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  width: 80px;
}

.ownerButton {
  cursor: pointer;
  margin-top: 400px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  width: 500px;
}

.element{
  margin-top: 30px;
}

.switch{
  position: relative; /* has to be position relative for left to work, or you could just do margin-left: -50px; too */
left: -300px;
}